body {
    background-image: url('../media/tlo.jpg');
    background-attachment: fixed;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.oknoLogowania {
    width: 405px;
    margin: auto;
    margin-top: 90px;
    padding: 25px 25px 25px;
    background: #FFF;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: black;
}

.zaloguj {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.zalogujOpis {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    background: white;
    padding: 0 10px;
    /* margin: auto; */
    margin-top: 20px;
    display: flex;
}

input[type=submit] {
    width: 100%;
    height: 35px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 22px;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
}

.bladLogowanie {
    color: red;
}

.rejestracjaLink, .bladLogowanie {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}