body {
    background-image: url('../media/tlo.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.oknoProfilu {
    margin-top: 90px;
    padding: 25px 25px 25px;
    background: #FFF;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: black;
}

.profilUzytkownika {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.profilInfo {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.profilDane {
    margin-bottom: 20px;
    font-size: 25px;
    word-wrap: break-word;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    background: #F5F5F5;
    padding: 0 10px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    outline-width: 0;
}

input[type=submit] {
    width: 60%;
    height: 35px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 22px;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.error {
    color: red;
    width: 100%;
    margin-top: 5px
}

.status {
    color: green;
    text-align: center;
    font-size: 25px;
}

.IDEdycja {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.ostrzezenia, .funkcja {
    margin-top: 20px;
}

.ostrzezeniaText, .funkcjaText {
    font-size: 22px;
}

.ostrzezeniaDropDown, .funkcjaDropDown {
    width: 100%;
    border-radius: 8px;
    background: #F5F5F5;
    border: 1px solid black;
    outline-width: 0;
}

.status, .statusError {
    text-align: center;
    font-size: 25px;
}

.status {
    color: green;
}

.statusError {
    color: red;
}

.zmianaHaslaInfo, .potwierdzInfo {
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}