body {
    background-image: url('../media/tlo.jpg');
    padding-top: 20px;
    color: #FFF;
}

.oknoProfilu {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0px 25px 25px;
    background: #FFF;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: black;
}

.profilUzytkownika {
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}

table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    border-spacing: 0px 5px;
}

th, td {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    padding-right: 50px;
}

input[type=text], input[type=password], input[type=number] {
    width: 330px;
    height: 30px;
    border-radius: 10px;
    background: #F5F5F5;
    padding: 0 10px;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

input[type=submit] {
    width: 355px;
    height: 35px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 22px;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.regulamin {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    display: block;
}

.error {
    color: red;
    margin: 5px 30px;
}

.status {
    color: green;
    text-align: center;
    font-size: 25px;
}

.loginEdycja {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
}

.zmianaHaslaInfo
{
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}