body {
    background-image: url('../media/tlo.jpg');
    background-attachment: fixed;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.oknoRejestracji {
    margin-top: 90px;
    padding: 25px 25px 25px;
    background: #FFF;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: black;
}

.rejestracjaDziekuje {
    font-size: 35px;
    padding-top: 20px;
    text-align: center;
}

.zalogujKonto {
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    display: block;
}
